<div>
    <p class="input-group">
        <input type="text" class="form-control" datetime-picker="{{values.displayFormat}}" ng-change="changed(values.datetime)" ng-model="values.datetime" ng is-open="values.isOpen" enable-date="options.interface.showDate" enable-time="options.interface.showTime"
        />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="values.isOpen = true">
            <i ng-show="options.interface.showDate" class="fa fa-calendar"></i>
            <i ng-hide="options.interface.showDate" class="fa fa-clock-o"></i>
          </button>
      </span>
    </p>
</div>
