<br>
<input type="file" accept="image/*;capture=camera" id="urbanflick-web-image" style="display: none" onchange="angular.element(this).scope().getPicture(this)">
<!-- <button ng-click="getPicture()">Add</button>  -->
<button class="btn btn-simple btn-round" type="button">
  <span ng-hide="wait==true" ng-click="selectFile()">Take a Picture</span>
  <span ng-show="wait==true">Please wait {{current_status}} ...
    <i class="now-ui-icons  loader_gear spin" style="float: right"></i>
  </span>
</button>