<div ng-init="createSingleField()">
    <div class="well">
        <schema-form schema="itemSchema.form" model="itemSchema.model" schema-initialized="itemSchemaInitialized(handle)"></schema-form>
        <div class="text-center">
            <a ng-click="addValue(itemSchema.model)">+ Add</a>
        </div>
    </div>


    <div class="alert alert-success" style="padding:5px;margin-bottom:5px" role="alert" ng-repeat="value in model[options.key]">

        {{value}}
        <div class="pull-right">
            <a>
                <i class="fa fa-close" ng-click="removeValue($index)"></i>
            </a>
        </div>
    </div>
</div>