<div style="margin-left:20px" ng-init="initElementSchema()">
    <div ng-if="listFormly" style="margin-bottom:20px">
        <formly-form fields="listFormly" model="listSelection"></formly-form>
    </div>
    <div ng-repeat="item in listSelection.selection">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{selectionLabel(item)}}
            </div>
            <div class="panel-body">
                <schema-form schema="options.detail_schema" model="details[item]"></schema-form>
            </div>
        </div>
    </div>
</div>

<!-- selection -
<json-formatter json="listSelection.selection"></json-formatter> -->