<select ng-if="options.dataType != 'array'" class="form-control" ng-model="model[options.key]" ng-options="o.value as o.label for o in options.templateOptions.options"></select>
<div ng-if="options.dataType == 'array'" isteven-multi-select input-model="options.templateOptions.options" output-model="model[options.key]"
    button-label="label" item-label="label" tick-property="ticked">
</div>