<formly-form ng-init="SCHEMA.initialize()" fields="SCHEMA.formlyFields" model="SCHEMA.formlyModel">
</formly-form>
<!-- <json-formatter json="SCHEMA.formlyFields"></json-formatter> -->

<!-- formlyModel = {{SCHEMA.formlyModel}}
<br> schemaModel = {{SCHEMA.model}} -->