<div>
    <!-- Picture Options {{options}} -->
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" ng-show="options.interface.picture.camera" ng-click="getPicture(1)">
            <i class="fa fa-camera"></i> Click a Picture
        </button>
        <button type="button" class="btn btn-success" ng-show="options.interface.picture.gallery" ng-click="getPicture(0)">
            <i class="fa fa-picture-o"></i> Pick from Gallery
        </button> 
    </div>
</div>