<div ng-repeat="(caseKey,usecase) in demo.usecases">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{usecase.schema.title}}
        </div>
        <div class="panel-body">

            <div class="row" style="padding:10px">
                <div class="well">
                    {{usecase.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 panel">
                    <pre pretty-json="usecase.schema" />
                    <!-- <json-formatter json="usecase.schema" open="20"></json-formatter> -->
                </div>
                <div class="col-md-4 panel">
                    <schema-form schema="usecase.schema" model="usescases.model[caseKey]"></schema-form>
                </div>
                <div class="col-md-3 panel">
                    <pre pretty-json="usescases.model[caseKey]" />

                </div>
            </div>
        </div>
    </div>

</div>